.commentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fae8ff;
  padding: 0 20px;
  color: #737373;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.label {
  font-weight: bold;
  color: #701a75;
}
