.commentContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #444;
    padding: 0 20px;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 5px;

}